@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

body{
    background: black;
    color: white;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

.glow {
  text-shadow: 0 0 10px #3b82f6, 0 0 20px #3b82f6;
}
